.bd-example > .progress + .progress {
  margin-top: 1rem;
}
.progress:last-of-type {
  margin-bottom: 1rem;
}
.col-sm-12, .container {
  margin-bottom: 1rem;
}
.carousel-item {
  width: 100vw;
  height: 60vw;
  overflow: hidden;
}
.carousel-item img {
  width: 100%;
  height: 100%;
}
